<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.4.1/weui.css">
<body>
<div class="weui_msg">
    <div class="weui_icon_area">
        <i class="weui_icon_info weui_icon_msg"></i>
    </div>
    <div class="weui_text_area">
        <h4 class="weui_msg_title">您即将登录 <span th:text="${siteName}"/> 网站，请点击确认已继续...</h4>
        <br/>
        <a th:href="${gotoUrl}" class="weui_btn weui_btn_primary"> 确认登录 </a>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text">Copyright © <span th:text="${siteName}"/></p>
    </div>
</div>
</body>
</html>